* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
}

:root {
    --backgroundColor : #FF6969;
    --displayColor: #EBE76C;
    --calculatorBackgroundColor: #FFF5E0;
}

.centerElements {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: var(--backgroundColor);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 3px solid black;
}

.display {
    width: 300px;
    height: 100px;
    background-color: var(--displayColor);
    margin-bottom: 10px;
    padding: 5px;
    border: 3px solid black;
    border-radius: 10px;
    overflow: auto;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    width: 300px;
    height: 400px;
    outline: none;
}

.calculator {
    border: 3px solid black;
    border-radius: 20px;
    padding: 20px;
    background-color:  var(--calculatorBackgroundColor);
}
.spanColTwo {
    grid-column-end: span 2;
}

button {
    border: 3px solid black;
    border-radius: 10px;
}

button:hover {
    background-color: grey;
    outline: none;
}

